# Базовые пакеты для Data Science и ML
# Укажите точные версии пакетов, которые вы используете в своем решении

# Обработка данных
pandas==2.2.3
numpy==1.26.4

# Машинное обучение (выберите нужные)
scikit-learn==1.6.1
xgboost==2.0.2
lightgbm==4.1.0
catboost==1.2.2

# Глубокое обучение (раскомментируйте при необходимости)
torch==2.8.0
# tensorflow==2.15.0

# Визуализация (если нужна)
matplotlib==3.9.4
seaborn==0.13.2

# Другие полезные библиотеки
scipy==1.13.1
tslearn==0.6.4
holidays==0.83